.switchDiv {
    display: inline-flex;
    height: 30px;
    margin: center;
    border-radius: 15px;
    padding-left: 5px;
} 

.switchDiv .switchBorder {
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: #5a2a75;
    background-color: #242526;
    border-radius: 15px;
    width: 50px;
    height: 100%;
}

.switchDiv .switchButton {
    position: relative;
    border: none;
    background-color: #5a2a75;
    border-radius: 50%;
    top: 5px;
    left: 2px;
    width: 20px;
    height: 20px;
}

.switchDiv label {
    position: relative;
    top: 5px;
    padding-right: 4px;
}

@keyframes switchToOn {
    0% { left: 2px; }
    100% { left: 26px; }
}

@keyframes switchToOnBc {
    0% { background-color: #242526; }
    100% { background-color: #b0b3b8; }
}

@keyframes switchToOff {
    0% { left: 26px; }
    100% { left: 2px; }
}

@keyframes switchToOffBc {
    0% { background-color: #b0b3b8; }
    100% { background-color: #242526; }
}